httpx>=0.24.0
azure-identity>=1.12.0
mcp[cli]>=0.0.17
openai>=1.97.0
langgraph>=0.5.3
langchain[anthropic]>=0.3.17
langchain-openai==0.3.28
pydantic>=2.11.7
langsmith>=0.4.8
ipython>=9.4.0
langchain-tavily==0.2.11
langgraph-cli[inmem]
ipykernel
langgraph-sdk
langchain-mcp-adapters==0.1.9
mcp>=1.12.2
python-multipart>=0.0.20
typing-extensions>=4.14.1
langchain>=0.3.27